<template>
  <div>
    <toolBar :name="toolBarItems.name" :btn-hide="toolBarItems.btnHide" />
    <v-container class="px-12" fluid>
      <v-row class="px-12" justify="center">
        <v-col cols="12">
          <v-card class="pb-12">
            <v-card-title>{{ toolBarItems.name }}</v-card-title>
            <div class="d-flex justify-center">
              <v-card width="750">
                <v-row class="pa-6">
                  <v-col class="d-flex justify-center">
                    <v-avatar class="outline-circle" size="140">
                      <img :src="items.foto" />
                    </v-avatar>
                  </v-col>
                  <v-col class="px-4" cols="8">
                    <v-file-input
                      v-model="foto"
                      accept="image/*"
                      label="Change Photo"
                    ></v-file-input>
                    <v-text-field
                      v-model="items.name"
                      label="Name"
                    ></v-text-field>
                    <v-text-field
                      v-model="items.email"
                      :rules="[rules.email]"
                      label="Email"
                    ></v-text-field>
                    <v-text-field
                      v-model="items.password"
                      :append-icon="showPwd ? 'mdi-eye' : 'mdi-eye-off'"
                      :rules="[rules.pwd]"
                      :type="showPwd ? 'text' : 'password'"
                      name="input-10-2"
                      label="Password"
                      class="input-group--focused"
                      @click:append="showPwd = !showPwd"
                    ></v-text-field>

                    <v-btn class="mt-5" color="primary" block @click="save">
                      Save
                    </v-btn>
                  </v-col>
                </v-row>
              </v-card>
            </div>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
import toolBar from '~/components/toolbars/toolbar'
export default {
  components: {
    toolBar,
  },
  async asyncData({ $fireStore }) {
    const data = []
    const ref = $fireStore.collection('user')
    try {
      const user = await ref.get()
      user.forEach((doc) => {
        data.push({
          id: doc.id,
          foto: doc.data().foto,
          name: doc.data().name,
          email: doc.data().email,
          password: doc.data().password,
        })
      })
      return { data }
    } catch (e) {
      alert(e)
    }
  },
  data() {
    return {
      toolBarItems: {
        name: 'User Settings',
        btnHide: true,
      },
      valid: true,
      foto: null,
      name: '',
      email: '',
      password: '',
      rules: {
        email: (v) => /.+@.+\..+/.test(v) || 'E-mail must be valid',
        pwd: (v) => v.length >= 1 || 'Min 1 characters',
      },
      showPwd: false,
    }
  },
  computed: {
    items() {
      return this.data[0]
    },
  },
  methods: {
    async save() {
      let uploadPhoto, fotoURL
      if (this.foto !== null) {
        uploadPhoto = this.foto
        const uploadPhotoName = 'userPhotoProfile'
        const uploadMeta = { contentType: 'image/jpeg' }
        const storageRef = this.$fireStorage.ref().child(uploadPhotoName)

        try {
          await storageRef.put(uploadPhoto, uploadMeta)
          const getPhotoURL = await storageRef.getDownloadURL()
          fotoURL = getPhotoURL
        } catch (e) {
          alert(e)
        }
      } else {
        fotoURL = this.items.foto
      }

      const user = this.$fireStore.collection('user').doc('data')
      try {
        await user.set({
          foto: fotoURL,
          name: this.items.name,
          email: this.items.email,
          password: this.items.password,
        })
        alert('Berhasil tersimpan')
        location.reload()
      } catch (e) {
        alert(e)
      }
    },
  },
}
</script>
<style scoped>
.outline-circle {
  box-shadow: 0 0 2pt 1pt black;
}
</style>
