<template>
  <div>
    <toolBar :name="toolBarItems.name" :btn-hide="toolBarItems.btnHide" />
    <v-container class="px-12" fluid>
      <v-row class="px-12" justify="center">
        <v-col v-for="stat in statsVal" :key="stat.id" cols="12" sm="6" lg="3">
          <staticCard
            :title="stat.title"
            :sub-title="stat.subTitle"
            :std="stat.std"
            :value="stat.value"
          />
        </v-col>
        <v-col cols="12">
          <v-card class="d-flex justify-center align-center" min-height="420">
            <v-card-text class="text-center">
              <h2 class="text-h2 font-weight-bold">
                Selamat datang di Sanique.88
              </h2>
              <h4 class="text-h4">System Management Inventory</h4>
            </v-card-text>
          </v-card>
        </v-col>
        <!-- <v-col v-for="stat in stats" :key="stat.id" cols="12" sm="6" lg="3">
          <staticCard
            :title="stat.title"
            :sub-title="stat.subTitle"
            :std="stat.std"
            :value="stat.value"
          />
        </v-col>
        <v-col cols="7">
          <v-card min-height="280">
            <v-card-text>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut labore
              ullam nam reprehenderit minus placeat laboriosam voluptatibus sint
              officia veniam!
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="5">
          <v-card min-height="75">
            <v-card-text>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut labore
              ullam nam reprehenderit minus placeat laboriosam voluptatibus sint
              officia veniam!
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="12">
          <tableBase />
        </v-col> -->
      </v-row>
    </v-container>
  </div>
</template>
<script>
import toolBar from '~/components/toolbars/toolbar'
import staticCard from '~/components/bases/staticCard'
// import tableBase from '~/components/bases/tableBase'
export default {
  components: {
    toolBar,
    staticCard,
    // tableBase,
  },
  async asyncData({ $fireStore }) {
    const items = []
    const listP = $fireStore.collection('penjualan-barang')
    try {
      const data = await listP.get()
      data.forEach((doc) => {
        items.push({
          id: doc.id,
          tanggal: doc.data().tanggal,
          totalPenjualan: doc.data().totalPenjualan,
        })
      })
      return { items }
    } catch (e) {
      alert(e)
    }
  },
  data() {
    return {
      toolBarItems: {
        name: 'Dashboard',
        btnHide: true,
      },
    }
  },
  computed: {
    statsVal() {
      const i = this.items
      let todayVal = 0
      let yearlyVal = 0
      const d = new Date()
      const t = `${d.getDate()}`
      const y = `${d.getFullYear()}`

      i.forEach((x) => {
        if (x.tanggal.includes(t)) {
          todayVal += x.totalPenjualan
        }
        if (x.tanggal.includes(y)) {
          yearlyVal += x.totalPenjualan
        }
      })

      return [
        {
          title: 'ORDER RECEIVED',
          subTitle: "Today's Income",
          std: 100000,
          value: todayVal,
        },
        {
          title: 'YEARLY SALES',
          subTitle: 'Yearly Income',
          std: 100000,
          value: yearlyVal,
        },
      ]
    },
  },
}
</script>
