<template>
  <div>
    <toolBarWDropdown
      :name="toolBarItems.name"
      :btn-name="toolBarItems.btnName"
      :add-form="toolBarItems.form.addForm"
      :form-fields="toolBarItems.form.formFields"
      :save-btn="toolBarSave"
    />
    <v-container class="px-12" fluid>
      <v-row class="px-12" justify="center">
        <v-col cols="12">
          <v-card>
            <v-card-title>List {{ toolBarItems.name }}</v-card-title>
            <v-card-subtitle
              >List {{ toolBarItems.name }} pada Aplikasi</v-card-subtitle
            >
            <!-- <v-card-actions class="pa-4">
              <v-btn color="primary">PDF</v-btn>
              <v-btn color="primary">Excel</v-btn>
            </v-card-actions> -->
            <div class="pa-4">
              <tableWithActionWDropdown
                :actions="enableActions"
                :headers="headers"
                :items="items"
              />
            </div>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
import toolBarWDropdown from '~/components/toolbars/toolbarWDropdown'
import tableWithActionWDropdown from '~/components/bases/tableWithActionWDropdown'
export default {
  components: {
    toolBarWDropdown,
    tableWithActionWDropdown,
  },
  async asyncData({ $fireStore }) {
    const items = []
    const itemsBarang = []
    const itemsSupplier = []
    const itemsMetodePembayaran = []

    const listBarang = $fireStore.doc('inventory/products').collection('list')
    const listSupplier = $fireStore.doc('master/supplier').collection('list')
    const listMetodePembayaran = $fireStore
      .doc('master/metode-pembayaran')
      .collection('list')
    const listPembelianBarang = $fireStore.collection('pembelian-barang')
    try {
      const dataB = await listBarang.get()
      dataB.forEach((doc) => {
        itemsBarang.push({
          name: doc.data().name,
          hargaBeli: doc.data().hargaBeli,
        })
      })

      const dataS = await listSupplier.get()
      dataS.forEach((doc) => {
        itemsSupplier.push(doc.data().name)
      })

      const dataM = await listMetodePembayaran.get()
      dataM.forEach((doc) => {
        itemsMetodePembayaran.push(doc.data().name)
      })

      const data = await listPembelianBarang.get()
      data.forEach((doc) => {
        items.push({
          id: doc.id,
          tanggal: doc.data().tanggal,
          numOrder: doc.data().numOrder,
          name: doc.data().name,
          supplier: doc.data().supplier,
          jumlah: doc.data().jumlah,
          totalPembelian: doc.data().totalPembelian,
          pembayaran: doc.data().pembayaran,
        })
      })
      return { items, itemsBarang, itemsSupplier, itemsMetodePembayaran }
    } catch (e) {
      alert(e)
    }
  },
  data() {
    return {
      toolBarItems: {
        name: 'Pembelian Produk',
        btnName: '+ Pembelian',
        form: {
          addForm: true,
          formFields: [
            {
              name: 'Tanggal',
              model: '',
              required: true,
              email: false,
              date: true,
              file: false,
              pwd: false,
              dropDown: false,
            },
            {
              name: 'No. Order',
              model: '',
              required: true,
              email: false,
              date: false,
              file: false,
              pwd: false,
              dropDown: false,
            },
            {
              name: 'Nama Barang',
              model: '',
              required: true,
              email: false,
              date: false,
              file: false,
              pwd: false,
              dropDown: true,
              ddItem: [],
            },
            {
              name: 'Supplier',
              model: '',
              required: true,
              email: false,
              date: false,
              file: false,
              pwd: false,
              dropDown: true,
              ddItem: [],
            },
            {
              name: 'Jumlah',
              model: '',
              required: true,
              email: false,
              date: false,
              file: false,
              pwd: false,
              dropDown: false,
            },
            {
              name: 'Metode Pembayaran',
              model: '',
              required: true,
              email: false,
              date: false,
              file: false,
              pwd: false,
              dropDown: true,
              ddItem: [],
            },
          ],
        },
      },
      enableActions: false,
      headers: [
        { text: 'No.', value: 'no' },
        { text: 'Tanggal', value: 'tanggal' },
        {
          text: 'No. Order',
          align: 'start',
          value: 'numOrder',
        },
        {
          text: 'Nama Barang',
          align: 'start',
          value: 'name',
        },
        { text: 'Supplier', value: 'supplier' },
        { text: 'Jumlah', value: 'jumlah' },
        { text: 'Total Pembelian', value: 'totalPembelian' },
        { text: 'Pembayaran', value: 'pembayaran' },
      ],
    }
  },
  computed: {
    totalPembelianItem() {
      let harga
      const form = this.toolBarItems.form.formFields

      this.itemsBarang.forEach((y) => {
        if (form[2].model === y.name) {
          harga = y.hargaBeli
        }
      })
      return form[4].model * harga
    },
  },
  mounted() {
    const itemsBarangName = this.itemsBarang.map((x) => x.name)
    const ddItemsValue = [
      itemsBarangName,
      this.itemsSupplier,
      this.itemsMetodePembayaran,
    ]
    let i = 0
    this.toolBarItems.form.formFields.forEach((x) => {
      if (x.dropDown === true) {
        x.ddItem = ddItemsValue[i]
        i++
      }
    })
  },
  methods: {
    async toolBarSave() {
      const form = this.toolBarItems.form.formFields
      const listPembelianBarang = this.$fireStore.collection('pembelian-barang')

      try {
        await listPembelianBarang.add({
          tanggal: form[0].model,
          numOrder: form[1].model,
          name: form[2].model,
          supplier: form[3].model,
          jumlah: form[4].model,
          totalPembelian: this.totalPembelianItem,
          pembayaran: form[5].model,
        })
      } catch (e) {
        alert(e)
        return
      }
      alert('Berhasil tersimpan')
      location.reload()
    },
  },
}
</script>
