<template>
  <div>
    <toolBarWDropdown
      :name="toolBarItems.name"
      :btn-name="toolBarItems.btnName"
      :add-form="toolBarItems.form.addForm"
      :form-fields="toolBarItems.form.formFields"
      :save-btn="toolBarSave"
    />
    <v-container class="px-12" fluid>
      <v-row class="px-12" justify="center">
        <v-col cols="12">
          <v-card>
            <v-card-title>List {{ toolBarItems.name }}</v-card-title>
            <v-card-subtitle
              >List {{ toolBarItems.name }} pada Aplikasi</v-card-subtitle
            >
            <!-- <v-card-actions class="pa-4">
              <v-btn color="primary">PDF</v-btn>
              <v-btn color="primary">Excel</v-btn>
            </v-card-actions> -->
            <div class="pa-4">
              <tableWithActionWDropdown
                :headers="headers"
                :items="items"
                :actions-form="toolBarItems.form.formFields"
                @saveItem="editItem"
                @deleteItem="deleteItem"
              />
            </div>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
import toolBarWDropdown from '~/components/toolbars/toolbarWDropdown'
import tableWithActionWDropdown from '~/components/bases/tableWithActionWDropdown'
export default {
  components: {
    toolBarWDropdown,
    tableWithActionWDropdown,
  },
  async asyncData({ $fireStore }) {
    const items = []
    const itemsBarang = []
    const itemsCustomer = []

    const listBarang = $fireStore.doc('inventory/products').collection('list')
    const listCustomer = $fireStore.doc('master/customer').collection('list')
    const listPenjualanBarang = $fireStore.collection('penjualan-barang')
    try {
      const dataB = await listBarang.get()
      dataB.forEach((doc) => {
        itemsBarang.push({
          name: doc.data().name,
          hargaJual: doc.data().hargaJual,
        })
      })

      const dataC = await listCustomer.get()
      dataC.forEach((doc) => {
        itemsCustomer.push(doc.data().name)
      })

      const data = await listPenjualanBarang.get()
      data.forEach((doc) => {
        items.push({
          id: doc.id,
          tanggal: doc.data().tanggal,
          numOrder: doc.data().numOrder,
          name: doc.data().name,
          customer: doc.data().customer,
          jumlah: doc.data().jumlah,
          totalPenjualan: doc.data().totalPenjualan,
        })
      })
      return { items, itemsBarang, itemsCustomer }
    } catch (e) {
      alert(e)
    }
  },
  data() {
    return {
      toolBarItems: {
        name: 'Penjualan Produk',
        btnName: '+ Penjualan',
        form: {
          addForm: true,
          formFields: [
            {
              name: 'Tanggal',
              model: '',
              required: true,
              email: false,
              date: true,
              file: false,
              pwd: false,
              dropDown: false,
            },
            {
              name: 'No. Order',
              model: '',
              required: true,
              email: false,
              date: false,
              file: false,
              pwd: false,
              dropDown: false,
            },
            {
              name: 'Nama Barang',
              model: '',
              required: true,
              email: false,
              date: false,
              file: false,
              pwd: false,
              dropDown: true,
              ddItem: [],
            },
            {
              name: 'Customer',
              model: '',
              required: true,
              email: false,
              date: false,
              file: false,
              pwd: false,
              dropDown: true,
              ddItem: [],
            },
            {
              name: 'Jumlah',
              model: '',
              required: true,
              email: false,
              date: false,
              file: false,
              pwd: false,
              dropDown: false,
            },
          ],
        },
      },
      headers: [
        { text: 'No.', value: 'no' },
        { text: 'Tanggal', value: 'tanggal' },
        {
          text: 'No. Order',
          align: 'start',
          value: 'numOrder',
        },
        {
          text: 'Nama Barang',
          align: 'start',
          value: 'name',
        },
        { text: 'Customer', value: 'customer' },
        { text: 'Jumlah', value: 'jumlah' },
        { text: 'Total Penjualan', value: 'totalPenjualan' },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
    }
  },
  computed: {
    totalPenjualanItem() {
      let harga
      const form = this.toolBarItems.form.formFields

      this.itemsBarang.forEach((y) => {
        if (form[2].model === y.name) {
          harga = y.hargaJual
        }
      })
      return form[4].model * harga
    },
  },
  mounted() {
    const itemsBarangName = this.itemsBarang.map((x) => x.name)
    const ddItemsValue = [itemsBarangName, this.itemsCustomer]
    let i = 0
    this.toolBarItems.form.formFields.forEach((x) => {
      if (x.dropDown === true) {
        x.ddItem = ddItemsValue[i]
        i++
      }
    })
  },
  methods: {
    async toolBarSave() {
      const form = this.toolBarItems.form.formFields
      const listPenjualanBarang = this.$fireStore.collection('penjualan-barang')

      try {
        await listPenjualanBarang.add({
          tanggal: form[0].model,
          numOrder: form[1].model,
          name: form[2].model,
          customer: form[3].model,
          jumlah: form[4].model,
          totalPenjualan: this.totalPenjualanItem,
        })
      } catch (e) {
        alert(e)
        return
      }
      alert('Berhasil tersimpan')
      location.reload()
    },
    async editItem(value) {
      const listPenjualanBarang = this.$fireStore
        .collection('penjualan-barang')
        .doc(value.id)
      try {
        delete value.id
        await listPenjualanBarang.set(value)
      } catch (e) {
        alert(e)
        return
      }
      alert('Berhasil tersimpan')
      location.reload()
    },
    async deleteItem(value) {
      const listPenjualanBarang = this.$fireStore
        .collection('penjualan-barang')
        .doc(value)
      try {
        await listPenjualanBarang.delete()
      } catch (e) {
        alert(e)
        return
      }
      alert('Berhasil dihapus')
      location.reload()
    },
  },
}
</script>
