<template>
  <div>
    <toolBarWDropdown
      :name="toolBarItems.name"
      :btn-name="toolBarItems.btnName"
      :add-form="toolBarItems.form.addForm"
      :form-fields="toolBarItems.form.formFields"
      :save-btn="toolBarSave"
    />
    <v-container class="px-12" fluid>
      <v-row class="px-12" justify="center">
        <v-col cols="12">
          <v-card>
            <v-card-title>List {{ toolBarItems.name }}</v-card-title>
            <v-card-subtitle
              >List {{ toolBarItems.name }} pada Aplikasi</v-card-subtitle
            >
            <!-- <v-card-actions class="pa-4">
              <v-btn color="primary">PDF</v-btn>
              <v-btn color="primary">Excel</v-btn>
            </v-card-actions> -->
            <div class="pa-4">
              <tableWithActionWDropdown
                :headers="headers"
                :items="items"
                :actions-form="toolBarItems.form.formFields"
                @saveItem="editItem"
                @deleteItem="deleteItem"
              />
            </div>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
import toolBarWDropdown from '~/components/toolbars/toolbarWDropdown'
import tableWithActionWDropdown from '~/components/bases/tableWithActionWDropdown'
export default {
  components: {
    toolBarWDropdown,
    tableWithActionWDropdown,
  },
  async asyncData({ $fireStore }) {
    const items = []
    const itemsPenjualanBarang = []
    const itemsCustomer = []

    const listPenjualanBarang = $fireStore.collection('penjualan-barang')
    const listCustomer = $fireStore.doc('master/customer').collection('list')
    const listReturBarang = $fireStore.collection('retur-barang')
    try {
      const dataP = await listPenjualanBarang.get()
      dataP.forEach((doc) => {
        itemsPenjualanBarang.push(doc.data().numOrder)
      })

      const dataC = await listCustomer.get()
      dataC.forEach((doc) => {
        itemsCustomer.push(doc.data().name)
      })

      const data = await listReturBarang.get()
      data.forEach((doc) => {
        items.push({
          id: doc.id,
          idRetur: doc.data().idRetur,
          kodePenjualan: doc.data().kodePenjualan,
          customer: doc.data().customer,
          tanggal: doc.data().tanggal,
        })
      })
      return { items, itemsPenjualanBarang, itemsCustomer }
    } catch (e) {
      alert(e)
    }
  },
  data() {
    return {
      toolBarItems: {
        name: 'Retur Produk',
        btnName: '+ Retur',
        form: {
          addForm: true,
          formFields: [
            {
              name: 'ID Retur',
              model: '',
              required: true,
              email: false,
              date: false,
              file: false,
              pwd: false,
              dropDown: false,
            },
            {
              name: 'Kode Penjualan',
              model: '',
              required: true,
              email: false,
              date: false,
              file: false,
              pwd: false,
              dropDown: true,
              ddItem: [],
            },
            {
              name: 'Customer',
              model: '',
              required: true,
              email: false,
              date: false,
              file: false,
              pwd: false,
              dropDown: true,
              ddItem: [],
            },
            {
              name: 'Tanggal Retur',
              model: '',
              required: true,
              email: false,
              date: true,
              file: false,
              pwd: false,
              dropDown: false,
            },
          ],
        },
      },
      headers: [
        { text: 'No.', value: 'no' },
        {
          text: 'ID Retur',
          align: 'start',
          value: 'idRetur',
        },
        {
          text: 'Kode Penjualan',
          align: 'start',
          value: 'kodePenjualan',
        },
        {
          text: 'Nama Customer',
          value: 'customer',
        },
        { text: 'Tanggal', value: 'tanggal' },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
    }
  },
  mounted() {
    const ddItemsValue = [this.itemsPenjualanBarang, this.itemsCustomer]
    let i = 0
    this.toolBarItems.form.formFields.forEach((x) => {
      if (x.dropDown === true) {
        x.ddItem = ddItemsValue[i]
        i++
      }
    })
  },
  methods: {
    async toolBarSave() {
      const form = this.toolBarItems.form.formFields
      const listReturBarang = this.$fireStore.collection('retur-barang')

      try {
        await listReturBarang.add({
          idRetur: form[0].model,
          kodePenjualan: form[1].model,
          customer: form[2].model,
          tanggal: form[3].model,
        })
      } catch (e) {
        alert(e)
        return
      }
      alert('Berhasil tersimpan')
      location.reload()
    },
    async editItem(value) {
      const listReturBarang = this.$fireStore
        .collection('retur-barang')
        .doc(value.id)
      try {
        delete value.id
        await listReturBarang.set(value)
      } catch (e) {
        alert(e)
        return
      }
      alert('Berhasil tersimpan')
      location.reload()
    },
    async deleteItem(value) {
      const listReturBarang = this.$fireStore
        .collection('retur-barang')
        .doc(value)
      try {
        await listReturBarang.delete()
      } catch (e) {
        alert(e)
        return
      }
      alert('Berhasil dihapus')
      location.reload()
    },
  },
}
</script>
