<template>
  <v-menu
    ref="menu"
    v-model="menu"
    :close-on-content-click="false"
    :return-value.sync="model"
    transition="scale-transition"
    offset-y
    min-width="290px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-text-field
        v-model="model"
        :label="name"
        readonly
        v-bind="attrs"
        v-on="on"
      ></v-text-field>
    </template>
    <v-date-picker v-model="date" color="primary" no-title scrollable>
      <v-spacer></v-spacer>
      <v-btn text color="primary" @click="saveDate"> OK </v-btn>
      <v-btn text color="primary" @click="menu = false"> Cancel </v-btn>
    </v-date-picker>
  </v-menu>
</template>
<script>
export default {
  props: {
    name: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      menu: false,
      model: '',
      date: '',
    }
  },
  methods: {
    saveDate() {
      this.$refs.menu.save(this.date)
      this.model = this.date
      this.$emit('getDate', this.model)
    },
  },
}
</script>
