<template>
  <v-list-group :prepend-icon="icon">
    <template v-slot:activator>
      <v-list-item-title>{{ title }}</v-list-item-title>
    </template>

    <v-list-item v-for="(sub, index) in subs" :key="index" :to="sub.to" link>
      <v-list-item-title class="ml-12 pl-2">{{ sub.title }}</v-list-item-title>
    </v-list-item>
  </v-list-group>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: 'Title',
    },
    icon: {
      type: String,
      default: 'mdi-view-dashboard',
    },
    subs: {
      type: Array,
      default: null,
    },
  },
}
</script>
