<template>
  <v-list-item :to="link" router exact>
    <v-list-item-icon>
      <v-icon>{{ icon }}</v-icon>
    </v-list-item-icon>
    <v-list-item-content>
      <v-list-item-title>{{ title }}</v-list-item-title>
    </v-list-item-content>
  </v-list-item>
</template>
<script>
export default {
  props: {
    title: {
      type: String,
      default: 'Title',
    },
    icon: {
      type: String,
      default: 'mdi-view-dashboard',
    },
    link: {
      type: String,
      default: '#',
    },
  },
}
</script>
