<template>
  <v-card>
    <div :style="`background-color: ${colorHex}`">
      <v-card-title class="text-h6 font-weight-mdedium">
        {{ title }}
      </v-card-title>
    </div>
    <v-card-text>
      <div class="mb-2 d-flex flex-column align-end">
        <span class="text-body-2">{{ subTitle }}</span>
        <div class="d-flex justify-end">
          <!-- <v-icon :color="color">{{ icon }}</v-icon> -->
          <span class="text-h5">{{ valueCurrency }}</span>
        </div>
      </div>
      <!-- <v-progress-linear value="43" :color="color"></v-progress-linear>
      <span class="text-caption">{{ ratio }}%</span> -->
    </v-card-text>
  </v-card>
</template>
<script>
export default {
  props: {
    title: {
      type: String,
      default: 'Title',
    },
    subTitle: {
      type: String,
      default: 'Subtitle',
    },
    std: {
      type: Number,
      default: 0,
    },
    value: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      valueCurrency: '',
      color: 'success',
      colorHex: '#b3d763',
      icon: 'mdi-chevron-up',
      ratio: 0,
    }
  },
  mounted() {
    this.valueCurrency = new Intl.NumberFormat('en-IN', {
      style: 'currency',
      currency: 'IDR',
    }).format(this.value)
    if (this.value > this.std) {
      this.ratio = ((this.value - this.std) / this.std) * 100
    } else {
      this.ratio = (Math.abs(this.value - this.std) / this.std) * 100
      this.color = 'error'
      this.colorHex = '#e58387'
      // this.icon = 'mdi-chevron-down'
    }
  },
}
</script>
