<template>
  <v-card tile>
    <v-dialog v-model="dialogEdit" width="500">
      <v-card>
        <v-card-title class="mb-4 text-h5 primary white--text">
          Edit Item
        </v-card-title>
        <v-card-text>
          <v-form>
            <div v-for="formField in actionsForm" :key="formField.id">
              <datePicker
                v-if="formField.date"
                :name="formField.name"
                @getDate="dataDate"
              />
              <v-text-field
                v-if="!formField.dropDown && !formField.file && !formField.date"
                v-model="formField.model"
                :label="formField.name"
              />
              <v-autocomplete
                v-if="formField.dropDown && !formField.file && !formField.date"
                v-model="formField.model"
                :items="formField.ddItem"
                :label="formField.name"
              ></v-autocomplete>
              <v-file-input
                v-if="formField.file"
                v-model="formField.model"
                accept="image/*"
                :label="formField.name"
              ></v-file-input>
            </div>
          </v-form>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            class="text-capitalize white--text"
            color="primary"
            @click="save()"
          >
            Save
          </v-btn>
          <v-btn class="text-capitalize" color="primary" text @click="close()">
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-card-title>
      <v-text-field
        v-model="search"
        prepend-inner-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table :headers="headers" :items="items" :search="search">
      <template v-slot:item.no="{ item }">
        {{ index(item) }}
      </template>
      <template v-slot:item.fotoBarang="{ item }">
        <v-img
          :src="item.fotoBarang"
          class="py-4"
          max-height="100px"
          max-width="100px"
          contain
        />
      </template>
      <template v-if="actions" v-slot:item.actions="{ item }">
        <v-btn class="text-capitalize" color="info" @click="editItem(item)"
          >Edit</v-btn
        >
        <v-btn class="text-capitalize" color="error" @click="deleteItem(item)"
          >Hapus</v-btn
        >
      </template>
    </v-data-table>
  </v-card>
</template>
<script>
import datePicker from '~/components/bases/datePicker'
export default {
  components: {
    datePicker,
  },
  props: {
    headers: {
      type: Array,
      default: null,
    },
    items: {
      type: Array,
      default: null,
    },
    actions: {
      type: Boolean,
      default: true,
    },
    actionsForm: {
      type: Array,
      default: null,
    },
  },
  data() {
    return {
      search: '',
      i: 0,
      dialogEdit: false,
      editedItem: {
        id: '',
      },
    }
  },
  methods: {
    index(item) {
      return this.items.indexOf(item) + 1
    },
    dataDate(val) {
      this.actionsForm.forEach((x) => {
        if (x.date === true) {
          x.model = val
        }
      })
    },
    editItem(item) {
      this.editedItem.id = item.id
      this.close()
    },
    deleteItem(item) {
      const confrm = confirm(`Are you sure want to delete ${item.name}`)
      if (confrm) {
        this.$emit('deleteItem', item.id)
      }
    },
    save() {
      const key = Object.keys(this.items[0]).filter((x) => x !== 'id')
      const val = this.actionsForm.map((x) => x.model)
      const combine = Object.assign(...key.map((k, i) => ({ [k]: val[i] })))

      this.editedItem = Object.assign(this.editedItem, combine)
      this.$emit('saveItem', this.editedItem)
      this.close()
    },
    close() {
      this.dialogEdit = !this.dialogEdit
    },
  },
}
</script>
