<template>
  <div>
    <toolBar
      :name="toolBarItems.name"
      :btn-name="toolBarItems.btnName"
      :add-form="toolBarItems.form.addForm"
      :form-fields="toolBarItems.form.formFields"
      :save-btn="toolBarSave"
    />
    <v-container class="px-12" fluid>
      <v-row class="px-12" justify="center">
        <v-col cols="12">
          <v-card>
            <v-card-title>List {{ toolBarItems.name }}</v-card-title>
            <v-card-subtitle
              >List {{ toolBarItems.name }} pada Aplikasi</v-card-subtitle
            >
            <!-- <v-card-actions class="pa-4">
              <v-btn color="primary">PDF</v-btn>
              <v-btn color="primary">Excel</v-btn>
            </v-card-actions> -->
            <div class="pa-4">
              <tableWithAction
                :headers="headers"
                :items="items"
                :actions-form="toolBarItems.form.formFields"
                @saveItem="editItem"
                @deleteItem="deleteItem"
              />
            </div>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
import toolBar from '~/components/toolbars/toolbar'
import tableWithAction from '~/components/bases/tableWithAction'
export default {
  components: {
    toolBar,
    tableWithAction,
  },
  async asyncData({ $fireStore }) {
    const items = []
    const listMetodePembayaran = $fireStore
      .doc('master/metode-pembayaran')
      .collection('list')
    try {
      const data = await listMetodePembayaran.get()
      data.forEach((doc) => {
        items.push({
          id: doc.id,
          name: doc.data().name,
          description: doc.data().description,
        })
      })
      return { items }
    } catch (e) {
      alert(e)
    }
  },
  data() {
    return {
      toolBarItems: {
        name: 'Metode Pembayaran',
        btnName: '+ Metode Pembayaran',
        form: {
          addForm: true,
          formFields: [
            {
              name: 'Nama Metode Pembayaran Transaksi',
              model: '',
              required: true,
              email: false,
              number: false,
              pwd: false,
              dropDown: false,
            },
            {
              name: 'Deskripsi',
              model: '',
              required: true,
              email: false,
              number: false,
              pwd: false,
              dropDown: false,
            },
          ],
        },
      },
      headers: [
        { text: 'No.', value: 'no' },
        {
          text: 'Nama Metode Pembayaran Transaksi',
          align: 'start',
          value: 'name',
        },
        { text: 'Deskripsi', value: 'description' },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
    }
  },
  methods: {
    async toolBarSave() {
      const form = this.toolBarItems.form.formFields
      const listMetodePembayaran = this.$fireStore
        .doc('master/metode-pembayaran')
        .collection('list')
      try {
        await listMetodePembayaran.add({
          name: form[0].model,
          description: form[1].model,
        })
      } catch (e) {
        alert(e)
        return
      }
      alert('Berhasil tersimpan')
      location.reload()
    },
    async editItem(value) {
      const listMetodePembayaran = this.$fireStore
        .doc('master/metode-pembayaran')
        .collection('list')
        .doc(value.id)
      try {
        delete value.id
        await listMetodePembayaran.set(value)
      } catch (e) {
        alert(e)
        return
      }
      alert('Berhasil tersimpan')
      location.reload()
    },
    async deleteItem(value) {
      const listMetodePembayaran = this.$fireStore
        .doc('master/metode-pembayaran')
        .collection('list')
        .doc(value)
      try {
        await listMetodePembayaran.delete()
      } catch (e) {
        alert(e)
        return
      }
      alert('Berhasil dihapus')
      location.reload()
    },
  },
}
</script>
