<template>
  <div>
    <toolBar
      :name="toolBarItems.name"
      :btn-name="toolBarItems.btnName"
      :add-form="toolBarItems.form.addForm"
      :form-fields="toolBarItems.form.formFields"
      :save-btn="toolBarSave"
    />
    <v-container class="px-12" fluid>
      <v-row class="px-12" justify="center">
        <v-col cols="12">
          <v-card>
            <v-card-title>List {{ toolBarItems.name }}</v-card-title>
            <v-card-subtitle
              >List {{ toolBarItems.name }} pada Aplikasi</v-card-subtitle
            >
            <!-- <v-card-actions class="pa-4">
              <v-btn color="primary">PDF</v-btn>
              <v-btn color="primary">Excel</v-btn>
            </v-card-actions> -->
            <div class="pa-4">
              <tableWithAction
                :actions="enableActions"
                :headers="headers"
                :items="items"
              />
            </div>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
import toolBar from '~/components/toolbars/toolbar'
import tableWithAction from '~/components/bases/tableWithAction'
export default {
  components: {
    toolBar,
    tableWithAction,
  },
  async asyncData({ $fireStore }) {
    const items = []
    const listSupplier = $fireStore.doc('master/supplier').collection('list')
    try {
      const data = await listSupplier.get()
      data.forEach((doc) => {
        items.push({
          id: doc.id,
          name: doc.data().name,
          email: doc.data().email,
          whatsapp: doc.data().whatsapp,
          phone: doc.data().phone,
          fax: doc.data().fax,
        })
      })
      return { items }
    } catch (e) {
      alert(e)
    }
  },
  data() {
    return {
      toolBarItems: {
        name: 'Suppliers',
        btnName: '+ Supplier',
        form: {
          addForm: true,
          formFields: [
            {
              name: 'Nama Supplier',
              model: '',
              required: true,
              email: false,
              number: false,
              pwd: false,
              dropDown: false,
            },
            {
              name: 'Email',
              model: '',
              required: true,
              email: false,
              number: false,
              pwd: false,
              dropDown: false,
            },
            {
              name: 'Whatsapp',
              model: '',
              required: true,
              email: false,
              number: false,
              pwd: false,
              dropDown: false,
            },
            {
              name: 'Phone',
              model: '',
              required: true,
              email: false,
              number: false,
              pwd: false,
              dropDown: false,
            },
            {
              name: 'Fax',
              model: '',
              required: true,
              email: false,
              number: false,
              pwd: false,
              dropDown: false,
            },
          ],
        },
      },
      enableActions: false,
      headers: [
        { text: 'No.', value: 'no' },
        {
          text: 'Nama Suppliers',
          align: 'start',
          value: 'name',
        },
        { text: 'Email', value: 'email' },
        { text: 'Whatsapp', value: 'whatsapp' },
        { text: 'Phone', value: 'phone' },
        { text: 'Fax', value: 'fax' },
      ],
    }
  },
  methods: {
    async toolBarSave() {
      const form = this.toolBarItems.form.formFields
      const listSupplier = this.$fireStore
        .doc('master/supplier')
        .collection('list')
      try {
        await listSupplier.add({
          name: form[0].model,
          email: form[1].model,
          whatsapp: form[2].model,
          phone: form[3].model,
          fax: form[4].model,
        })
      } catch (e) {
        alert(e)
        return
      }
      alert('Berhasil tersimpan')
      location.reload()
    },
  },
}
</script>
