<template>
  <div>
    <toolBarWDropdown
      :name="toolBarItems.name"
      :btn-name="toolBarItems.btnName"
      :add-form="toolBarItems.form.addForm"
      :form-fields="toolBarItems.form.formFields"
      :save-btn="toolBarSave"
    />
    <v-container class="px-12" fluid>
      <v-row class="px-12" justify="center">
        <!-- <v-col v-for="stat in stats" :key="stat.id" cols="12" sm="6" lg="3">
          <staticCard
            :title="stat.title"
            :sub-title="stat.subTitle"
            :std="stat.std"
            :value="stat.value"
          />
        </v-col> -->
        <v-col cols="12">
          <v-card>
            <v-card-title>List {{ toolBarItems.name }}</v-card-title>
            <v-card-subtitle
              >List {{ toolBarItems.name }} pada Aplikasi</v-card-subtitle
            >
            <!-- <v-card-actions class="pa-4">
              <v-btn color="primary">PDF</v-btn>
              <v-btn color="primary">Excel</v-btn>
            </v-card-actions> -->
            <div class="pa-4">
              <tableWithActionWDropdown
                :actions="enableActions"
                :headers="headers"
                :items="items"
              />
            </div>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
import toolBarWDropdown from '~/components/toolbars/toolbarWDropdown'
// import staticCard from '~/components/bases/staticCard'
import tableWithActionWDropdown from '~/components/bases/tableWithActionWDropdown'
export default {
  components: {
    toolBarWDropdown,
    // staticCard,
    tableWithActionWDropdown,
  },
  async asyncData({ $fireStore }) {
    const items = []
    const itemsMerek = []
    const itemsUkuran = []
    const itemsKategori = []
    const itemsPembelian = []
    const itemsPenjualan = []
    const itemsRetur = []

    const listKategori = $fireStore.doc('inventory/kategori').collection('list')
    const listUkuran = $fireStore.doc('inventory/ukuran').collection('list')
    const listMerek = $fireStore.doc('inventory/merek').collection('list')
    const listProducts = $fireStore.doc('inventory/products').collection('list')
    const listPembelianBarang = $fireStore.collection('pembelian-barang')
    const listPenjualanBarang = $fireStore.collection('penjualan-barang')
    const listReturBarang = $fireStore.collection('retur-barang')

    try {
      const dataK = await listKategori.get()
      dataK.forEach((doc) => {
        itemsKategori.push(doc.data().name)
      })

      const dataU = await listUkuran.get()
      dataU.forEach((doc) => {
        itemsUkuran.push(doc.data().name)
      })

      const dataM = await listMerek.get()
      dataM.forEach((doc) => {
        itemsMerek.push(doc.data().name)
      })

      const data = await listProducts.get()
      data.forEach((doc) => {
        items.push({
          id: doc.id,
          fotoBarang: doc.data().fotoBarang,
          name: doc.data().name,
          kodeBarang: doc.data().kodeBarang,
          merekBarang: doc.data().merekBarang,
          ukuranBarang: doc.data().ukuranBarang,
          kategorikBarang: doc.data().kategoriBarang,
          lokasiRak: doc.data().lokasiRak,
          stokAwal: doc.data().stokAwal,
          hargaJual: doc.data().hargaJual,
          hargaBeli: doc.data().hargaBeli,
        })
      })

      const dataPembelian = await listPembelianBarang.get()
      dataPembelian.forEach((doc) => {
        itemsPembelian.push({
          id: doc.id,
          tanggal: doc.data().tanggal,
          numOrder: doc.data().numOrder,
          name: doc.data().name,
          supplier: doc.data().supplier,
          jumlah: doc.data().jumlah,
          totalPembelian: doc.data().totalPembelian,
          pembayaran: doc.data().pembayaran,
        })
      })

      const dataPenjualan = await listPenjualanBarang.get()
      dataPenjualan.forEach((doc) => {
        itemsPenjualan.push({
          id: doc.id,
          tanggal: doc.data().tanggal,
          numOrder: doc.data().numOrder,
          name: doc.data().name,
          customer: doc.data().customer,
          jumlah: doc.data().jumlah,
          totalPenjualan: doc.data().totalPenjualan,
        })
      })

      const dataRetur = await listReturBarang.get()
      dataRetur.forEach((doc) => {
        itemsRetur.push({
          id: doc.id,
          idRetur: doc.data().idRetur,
          kodePenjualan: doc.data().kodePenjualan,
          customer: doc.data().customer,
          tanggal: doc.data().tanggal,
        })
      })
      return {
        items,
        itemsKategori,
        itemsUkuran,
        itemsMerek,
        itemsPembelian,
        itemsPenjualan,
        itemsRetur,
      }
    } catch (e) {
      alert(e)
    }
  },
  data() {
    return {
      toolBarItems: {
        name: 'Products',
        btnName: '+ Products',
        form: {
          addForm: true,
          formFields: [
            {
              name: 'Foto Barang',
              model: '',
              required: true,
              email: false,
              date: false,
              file: true,
              pwd: false,
              dropDown: false,
            },
            {
              name: 'Nama Barang',
              model: '',
              required: true,
              email: false,
              date: false,
              file: false,
              pwd: false,
              dropDown: false,
            },
            {
              name: 'Kode Barang',
              model: '',
              required: true,
              email: false,
              date: false,
              file: false,
              pwd: false,
              dropDown: false,
            },
            {
              name: 'Merk Barang',
              model: '',
              required: true,
              email: false,
              date: false,
              file: false,
              pwd: false,
              dropDown: true,
              ddItem: [],
            },
            {
              name: 'Ukuran',
              model: '',
              required: true,
              email: false,
              date: false,
              file: false,
              pwd: false,
              dropDown: true,
              ddItem: [],
            },
            {
              name: 'Kategori',
              model: '',
              required: true,
              email: false,
              date: false,
              file: false,
              pwd: false,
              dropDown: true,
              ddItem: [],
            },
            {
              name: 'Lokasi Rak',
              model: '',
              required: true,
              email: false,
              date: false,
              file: false,
              pwd: false,
              dropDown: false,
            },
            {
              name: 'Stok Awal',
              model: '',
              required: true,
              email: false,
              date: false,
              file: false,
              pwd: false,
              dropDown: false,
            },
            {
              name: 'Harga Jual',
              model: '',
              required: true,
              email: false,
              date: false,
              file: false,
              pwd: false,
              dropDown: false,
            },
            {
              name: 'Harga Beli',
              model: '',
              required: true,
              email: false,
              date: false,
              file: false,
              pwd: false,
              dropDown: false,
            },
          ],
        },
      },
      stats: [
        {
          title: 'ORDER RECEIVED',
          subTitle: "Today's Income",
          std: 100000,
          value: 175000,
        },
        {
          title: 'TAX DEDUCTION',
          subTitle: 'Monthly Deduction',
          std: 100000,
          value: 123000,
        },
        {
          title: 'REVENUE STATS',
          subTitle: 'Todays Income',
          std: 100000,
          value: 63000,
        },
        {
          title: 'YEARLY SALES',
          subTitle: 'Yearly Income',
          std: 100000,
          value: 111000,
        },
      ],
      enableActions: false,
      headers: [
        { text: 'No.', value: 'no' },
        { text: 'Foto Barang', value: 'fotoBarang', sortable: false },
        {
          text: 'Nama Barang',
          align: 'start',
          value: 'name',
        },
        { text: 'Kode Barang', value: 'kodeBarang' },
        { text: 'Merk Barang', value: 'merekBarang' },
        { text: 'Lokasi Rak', value: 'lokasiRak' },
        { text: 'Stok', value: 'stok' },
        { text: 'Harga Jual', value: 'hargaJual' },
        { text: 'Harga Beli', value: 'hargaBeli' },
      ],
      itemsD: [
        {
          name: 'Otong Haji',
          fotoBarang: '/img/chuttersnap-JWaXthlA9Cc-unsplash.jpg',
          kodeBarang: '3253263',
          merkBarang: 'Global',
          lokasiRak: 'A1',
          stok: '2',
          hargaJual: '10000',
          hargaBeli: '8000',
        },
        {
          name: 'Babang Tanvan',
          fotoBarang: '/img/chuttersnap-JWaXthlA9Cc-unsplash.jpg',
          kodeBarang: '3251263',
          merkBarang: 'Eternal',
          lokasiRak: 'A3',
          stok: '1',
          hargaJual: '10000',
          hargaBeli: '8000',
        },
      ],
    }
  },
  mounted() {
    const ddItemsValue = [this.itemsMerek, this.itemsUkuran, this.itemsKategori]
    let i = 0
    this.toolBarItems.form.formFields.forEach((x) => {
      if (x.dropDown === true) {
        x.ddItem = ddItemsValue[i]
        i++
      }
    })

    const stokGlobal = []
    const p = this.items
    const b = this.itemsPembelian
    const j = this.itemsPenjualan
    const r = this.itemsRetur

    p.forEach((x) => {
      let jumlahBeli, jumlahJual, jumlahRetur
      let itemMasuk = 0
      let itemKeluar = 0
      let itemStok = 0

      jumlahBeli = 0
      b.forEach((d) => {
        if (d.name === x.name) {
          jumlahBeli += parseInt(d.jumlah)
        }
      })

      jumlahJual = 0
      jumlahRetur = 0
      j.forEach((d) => {
        if (d.name === x.name) {
          jumlahJual += parseInt(d.jumlah)
          r.forEach((rData) => {
            if (rData.kodePenjualan === d.numOrder) {
              jumlahRetur += parseInt(d.jumlah)
            }
          })
        }
      })

      itemMasuk = parseInt(x.stokAwal) + jumlahBeli
      itemKeluar = jumlahJual - jumlahRetur
      itemStok = itemMasuk - itemKeluar
      stokGlobal.push({
        namaBarang: x.name,
        stok: itemStok,
      })
    })

    p.forEach((x) => {
      stokGlobal.forEach((y) => {
        if (x.name === y.namaBarang) {
          Object.assign(x, { stok: y.stok })
        }
      })
    })
  },
  methods: {
    async toolBarSave() {
      const form = this.toolBarItems.form.formFields
      const uploadPhoto = form[0].model
      const uploadPhotoName = 'images/' + uploadPhoto.name
      const uploadMeta = { contentType: 'image/jpeg' }
      const storageRef = this.$fireStorage.ref().child(uploadPhotoName)

      const listProducts = this.$fireStore
        .doc('inventory/products')
        .collection('list')

      try {
        await storageRef.put(uploadPhoto, uploadMeta)
        const getPhotoURL = await storageRef.getDownloadURL()
        await listProducts.add({
          fotoBarang: getPhotoURL,
          name: form[1].model,
          kodeBarang: form[2].model,
          merekBarang: form[3].model,
          ukuranBarang: form[4].model,
          kategorikBarang: form[5].model,
          lokasiRak: form[6].model,
          stokAwal: form[7].model,
          hargaJual: form[8].model,
          hargaBeli: form[9].model,
        })
      } catch (e) {
        alert(e)
        return
      }
      alert('Berhasil tersimpan')
      location.reload()
    },
  },
}
</script>
