<template>
  <div>
    <toolBar
      :name="toolBarItems.name"
      :btn-hide="toolBarItems.btnHide"
      :add-form="toolBarItems.form.addForm"
    />
    <v-container class="px-12" fluid>
      <v-row class="px-12" justify="center">
        <v-col cols="12">
          <v-card>
            <v-card-title>List {{ toolBarItems.name }}</v-card-title>
            <v-card-subtitle
              >List {{ toolBarItems.name }} pada Aplikasi</v-card-subtitle
            >
            <v-card-actions class="pa-4">
              <excelButton
                :data="items"
                :fields="excelData.fields"
                :filename="excelData.name"
              />
            </v-card-actions>
            <div class="pa-4">
              <tableWithAction
                :actions="enableActions"
                :headers="headers"
                :items="items"
              />
            </div>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
import toolBar from '~/components/toolbars/toolbar'
import tableWithAction from '~/components/bases/tableWithAction'
import excelButton from '~/components/toolbars/excelButton'
export default {
  components: {
    toolBar,
    tableWithAction,
    excelButton,
  },
  async asyncData({ $fireStore }) {
    const itemsProducts = []
    const itemsPembelian = []
    const listProducts = $fireStore.doc('inventory/products').collection('list')
    const listPembelianBarang = $fireStore.collection('pembelian-barang')

    try {
      const dataProducts = await listProducts.get()
      dataProducts.forEach((doc) => {
        itemsProducts.push({
          id: doc.id,
          fotoBarang: doc.data().fotoBarang,
          name: doc.data().name,
        })
      })

      const dataPembelian = await listPembelianBarang.get()
      dataPembelian.forEach((doc) => {
        itemsPembelian.push({
          id: doc.id,
          tanggal: doc.data().tanggal,
          name: doc.data().name,
          jumlah: doc.data().jumlah,
        })
      })
      return { itemsProducts, itemsPembelian }
    } catch (e) {
      alert(e)
    }
  },
  data() {
    return {
      excelData: {
        name: 'Barang Masuk',
        fields: {
          Tanggal: 'tanggal',
          'Nama Barang': 'namaBarang',
          Jumlah: 'jumlah',
        },
      },
      toolBarItems: {
        name: 'Barang Masuk',
        btnHide: true,
        form: {
          addForm: false,
        },
      },
      enableActions: false,
      headers: [
        { text: 'No.', value: 'no' },
        {
          text: 'Tanggal',
          align: 'start',
          value: 'tanggal',
        },
        { text: 'Foto', value: 'fotoBarang' },
        {
          text: 'Nama Barang',
          align: 'start',
          value: 'namaBarang',
        },
        { text: 'Jumlah', value: 'jumlah' },
      ],
    }
  },
  computed: {
    items() {
      const data = []
      const p = this.itemsProducts
      const b = this.itemsPembelian

      b.forEach((x) => {
        let photo
        p.forEach((y) => {
          if (y.name === x.name) {
            photo = y.fotoBarang
          }
        })
        data.push({
          tanggal: x.tanggal,
          fotoBarang: photo,
          namaBarang: x.name,
          jumlah: x.jumlah,
        })
      })
      return data
    },
  },
}
</script>
