<template>
  <div>
    <toolBar
      :name="toolBarItems.name"
      :btn-hide="toolBarItems.btnHide"
      :add-form="toolBarItems.form.addForm"
    />
    <v-container class="px-12" fluid>
      <v-row class="px-12" justify="center">
        <v-col cols="12">
          <v-card>
            <v-card-title>List {{ toolBarItems.name }}</v-card-title>
            <v-card-subtitle
              >List {{ toolBarItems.name }} pada Aplikasi</v-card-subtitle
            >
            <v-card-actions class="pa-4">
              <excelButton
                :data="items"
                :fields="excelData.fields"
                :filename="excelData.name"
              />
            </v-card-actions>
            <div class="pa-4">
              <tableWithAction
                :actions="enableActions"
                :headers="headers"
                :items="items"
              />
            </div>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
import toolBar from '~/components/toolbars/toolbar'
import tableWithAction from '~/components/bases/tableWithAction'
import excelButton from '~/components/toolbars/excelButton'
export default {
  components: {
    toolBar,
    tableWithAction,
    excelButton,
  },
  async asyncData({ $fireStore }) {
    const itemsProducts = []
    const itemsPembelian = []
    const itemsPenjualan = []
    const itemsRetur = []
    const listProducts = $fireStore.doc('inventory/products').collection('list')
    const listPembelianBarang = $fireStore.collection('pembelian-barang')
    const listPenjualanBarang = $fireStore.collection('penjualan-barang')
    const listReturBarang = $fireStore.collection('retur-barang')

    try {
      const dataProducts = await listProducts.get()
      dataProducts.forEach((doc) => {
        itemsProducts.push({
          id: doc.id,
          fotoBarang: doc.data().fotoBarang,
          name: doc.data().name,
          kodeBarang: doc.data().kodeBarang,
          merekBarang: doc.data().merekBarang,
          ukuranBarang: doc.data().ukuranBarang,
          kategorikBarang: doc.data().kategoriBarang,
          lokasiRak: doc.data().lokasiRak,
          stokAwal: doc.data().stokAwal,
          hargaJual: doc.data().hargaJual,
          hargaBeli: doc.data().hargaBeli,
        })
      })

      const dataPembelian = await listPembelianBarang.get()
      dataPembelian.forEach((doc) => {
        itemsPembelian.push({
          id: doc.id,
          tanggal: doc.data().tanggal,
          numOrder: doc.data().numOrder,
          name: doc.data().name,
          supplier: doc.data().supplier,
          jumlah: doc.data().jumlah,
          totalPembelian: doc.data().totalPembelian,
          pembayaran: doc.data().pembayaran,
        })
      })

      const dataPenjualan = await listPenjualanBarang.get()
      dataPenjualan.forEach((doc) => {
        itemsPenjualan.push({
          id: doc.id,
          tanggal: doc.data().tanggal,
          numOrder: doc.data().numOrder,
          name: doc.data().name,
          customer: doc.data().customer,
          jumlah: doc.data().jumlah,
          totalPenjualan: doc.data().totalPenjualan,
        })
      })

      const data = await listReturBarang.get()
      data.forEach((doc) => {
        itemsRetur.push({
          id: doc.id,
          idRetur: doc.data().idRetur,
          kodePenjualan: doc.data().kodePenjualan,
          customer: doc.data().customer,
          tanggal: doc.data().tanggal,
        })
      })
      return { itemsProducts, itemsPembelian, itemsPenjualan, itemsRetur }
    } catch (e) {
      alert(e)
    }
  },
  data() {
    return {
      excelData: {
        name: 'Stok',
        fields: {
          'Kode Barang': 'kodeBarang',
          'Nama Barang': 'namaBarang',
          Masuk: 'masuk',
          Keluar: 'keluar',
          Stok: 'stok',
        },
      },
      toolBarItems: {
        name: 'Stok Produk',
        btnHide: true,
        form: {
          addForm: false,
        },
      },
      enableActions: false,
      headers: [
        { text: 'No.', value: 'no' },
        {
          text: 'Kode Barang',
          align: 'start',
          value: 'kodeBarang',
        },
        {
          text: 'Nama Barang',
          align: 'start',
          value: 'namaBarang',
        },
        { text: 'Masuk', value: 'masuk' },
        { text: 'Keluar', value: 'keluar' },
        { text: 'Stok', value: 'stok' },
        { text: 'Min', value: 'min' },
        { text: 'Max', value: 'max' },
        { text: 'Status', value: 'statusReport' },
      ],
    }
  },
  computed: {
    items() {
      const data = []
      const p = this.itemsProducts
      const b = this.itemsPembelian
      const j = this.itemsPenjualan
      const r = this.itemsRetur

      p.forEach((x) => {
        let jumlahBeli, jumlahJual, jumlahRetur
        let itemMasuk = 0
        let itemKeluar = 0
        let itemStok = 0

        jumlahBeli = 0
        b.forEach((d) => {
          if (d.name === x.name) {
            jumlahBeli += parseInt(d.jumlah)
          }
        })

        jumlahJual = 0
        jumlahRetur = 0
        j.forEach((d) => {
          if (d.name === x.name) {
            jumlahJual += parseInt(d.jumlah)
            r.forEach((rData) => {
              if (rData.kodePenjualan === d.numOrder) {
                jumlahRetur += parseInt(d.jumlah)
              }
            })
          }
        })

        itemMasuk = parseInt(x.stokAwal) + jumlahBeli
        itemKeluar = jumlahJual - jumlahRetur
        itemStok = itemMasuk - itemKeluar
        data.push({
          kodeBarang: x.kodeBarang,
          namaBarang: x.name,
          masuk: itemMasuk,
          keluar: itemKeluar,
          stok: itemStok,
          min: 55,
          max: 125,
          statusReport: (() => {
            if (itemStok < 55) {
              return {
                name: 'Restock!',
                color: 'error',
              }
            } else if (itemStok > 125) {
              return {
                name: 'Lots of Stock',
                color: 'yellow',
              }
            } else {
              return {
                name: 'Available',
                color: 'success',
              }
            }
          })(),
        })
      })
      return data
    },
  },
  methods: {
    toolBarSave() {
      alert('berhasil tersimpan')
    },
  },
}
</script>
