<template>
  <div>
    <toolBar :name="toolBarItems.name" :btn-hide="toolBarItems.btnHide" />
    <v-container>
      <v-row justify="center" align="center">
        <v-col>
          <h1>Mantap</h1>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
import toolBar from '~/components/toolbars/toolbar'
export default {
  components: {
    toolBar,
  },
  data() {
    return {
      toolBarItems: {
        name: 'Company Settings',
        btnHide: true,
      },
    }
  },
}
</script>
