<template>
  <JsonExcel
    :data="data"
    :fields="fields"
    :worksheet="worksheet"
    :name="`${filename}.xls`"
  >
    <v-btn color="primary">Excel</v-btn>
  </JsonExcel>
</template>
<script>
import JsonExcel from 'vue-json-excel'
export default {
  components: {
    JsonExcel,
  },
  props: {
    data: {
      type: Array,
    },
    fields: {
      type: Object,
    },
    worksheet: {
      type: String,
      default: 'Sheet 1',
    },
    filename: {
      type: String,
      default: 'report',
    },
  },
}
</script>
