<template>
  <div>
    <v-navigation-drawer v-model="drawer" :clipped="clipped" fixed app>
      <v-list subheader>
        <v-list-item class="user-nav" two-line>
          <v-list-item-avatar class="outline-circle">
            <img :src="fotoProfile.foto" />
            <div class="ava-copyr">
              Icons made by
              <a
                href="https://www.flaticon.com/authors/vectors-market"
                title="Vectors Market"
                >Vectors Market</a
              >
              from
              <a href="https://www.flaticon.com/" title="Flaticon">
                www.flaticon.com</a
              >
            </div>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title>{{ fotoProfile.name }}</v-list-item-title>
            <v-list-item-subtitle class="text-caption"
              >Admin</v-list-item-subtitle
            >
          </v-list-item-content>
        </v-list-item>
        <v-divider></v-divider>

        <listItem
          title="Dashboard"
          icon="mdi-view-dashboard-outline"
          link="/admin/dashboard"
        />
        <listGroup
          :title="masterItems.title"
          :icon="masterItems.icon"
          :subs="masterItems.subNavItems"
        />
        <listGroup
          :title="inventoryItems.title"
          :icon="inventoryItems.icon"
          :subs="inventoryItems.subNavItems"
        />
        <listItem
          v-for="main in mainItems"
          :key="main.id"
          :title="main.title"
          :icon="main.icon"
          :link="main.to"
        />
        <!-- <listGroup
          :title="financeItems.title"
          :icon="financeItems.icon"
          :subs="financeItems.subNavItems"
        /> -->
        <listGroup
          :title="laporanItems.title"
          :icon="laporanItems.icon"
          :subs="laporanItems.subNavItems"
        />
        <v-subheader>App Management</v-subheader>
        <listItem
          v-for="appMan in appManItems"
          :key="appMan.id"
          :title="appMan.title"
          :icon="appMan.icon"
          :link="appMan.to"
        />
      </v-list>
    </v-navigation-drawer>
    <v-app-bar color="white" :clipped-left="clipped" elevation="0.8" fixed app>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title class="font-weight-medium" v-text="title" />
      <v-spacer />
      <!-- <div class="search">
        <v-text-field
          prepend-inner-icon="mdi-magnify"
          placeholder="Search"
          single-line
          hide-details
          filled
          rounded
          dense
        ></v-text-field>
      </div> -->
      <v-avatar class="ml-6 outline-circle" size="32">
        <img :src="fotoProfile.foto" />
      </v-avatar>
      <v-btn to="/admin/user/settings" class="ml-2" icon
        ><v-icon>mdi-cog</v-icon></v-btn
      >
      <v-btn
        class="ml-2 text-capitalize"
        color="primary"
        outlined
        small
        @click="logout"
        >Logout</v-btn
      >
      <!-- <v-btn to="/" icon><v-icon>mdi-logout-variant</v-icon></v-btn> -->
    </v-app-bar>
  </div>
</template>
<script>
import listItem from '~/components/bases/listItem'
import listGroup from '~/components/bases/listGroup'
export default {
  components: {
    listGroup,
    listItem,
  },
  data() {
    return {
      title: 'Sanique.88',
      clipped: true,
      drawer: true,
      masterItems: {
        title: 'Master',
        icon: 'mdi-head-cog-outline',
        subNavItems: [
          {
            title: 'Kode Transaksi',
            to: '/admin/master/kode-transaksi',
          },
          {
            title: 'Metode Pembayaran',
            to: '/admin/master/metode-pembayaran',
          },
          {
            title: 'Supplier',
            to: '/admin/master/supplier',
          },
          {
            title: 'Customer',
            to: '/admin/master/customer',
          },
          {
            title: 'Bank',
            to: '/admin/master/bank',
          },
        ],
      },
      inventoryItems: {
        title: 'Inventory',
        icon: 'mdi-cube-outline',
        subNavItems: [
          {
            title: 'Products',
            to: '/admin/inventory/products',
          },
          {
            title: 'Kategori',
            to: '/admin/inventory/kategori',
          },
          {
            title: 'Merek',
            to: '/admin/inventory/merek',
          },
          {
            title: 'Ukuran',
            to: '/admin/inventory/ukuran',
          },
        ],
      },
      mainItems: [
        {
          icon: 'mdi-cube-scan',
          title: 'Pembelian Barang',
          to: '/admin/pembelian-barang',
        },
        {
          icon: 'mdi-cube-send',
          title: 'Penjualan Barang',
          to: '/admin/penjualan-barang',
        },
        {
          icon: 'mdi-cube-unfolded  ',
          title: 'Retur Barang',
          to: '/admin/retur-barang',
        },
      ],
      financeItems: {
        title: 'Finance',
        icon: 'mdi-finance',
        subNavItems: [
          {
            title: 'Big cash',
            to: '/admin/finance/big-cash',
          },
          {
            title: 'Petty Cash',
            to: '/admin/finance/petty-cash',
          },
          {
            title: 'Cash Adv.',
            to: '/admin/finance/cashadv',
          },
        ],
      },
      laporanItems: {
        title: 'Laporan',
        icon: 'mdi-book-open-outline',
        subNavItems: [
          {
            title: 'Stok',
            to: '/admin/report/stok',
          },
          {
            title: 'Barang Masuk',
            to: '/admin/report/barang-masuk',
          },
          {
            title: 'Barang Keluar',
            to: '/admin/report/barang-keluar',
          },
        ],
      },
      appManItems: [
        // {
        //   icon: 'mdi-account-box-outline',
        //   title: 'User',
        //   to: '/appman/user',
        // },
        {
          icon: 'mdi-cog-outline',
          title: 'Settings',
          to: '/admin/user/settings',
        },
      ],
    }
  },
  computed: {
    isLogged() {
      return this.$store.getters.isLogged
    },
    fotoProfile() {
      return {
        foto: this.$store.state.foto,
        name: this.$store.state.name,
      }
    },
  },
  methods: {
    logout() {
      if (confirm('Are you sure want to logout?')) {
        this.$store.dispatch('logging').then(() => {
          window.localStorage.clear()
          location.reload()
          this.$router.push('/')
        })
      }
    },
  },
}
</script>
<style scoped>
.search {
  width: 450px;
}
.user-nav {
  background-color: #e0fbfc;
}
.ava-copyr {
  display: none;
}
.outline-circle {
  box-shadow: 0 0 2pt 1pt black;
}
</style>
