<template>
  <v-card width="430">
    <div class="title text-h6">Sanique.88</div>
    <v-form ref="form" v-model="valid" class="pa-4" lazy-validation>
      <v-text-field
        v-model="email"
        :rules="[rules.required, rules.email]"
        label="Email"
        required
      ></v-text-field>
      <v-text-field
        v-model="password"
        :append-icon="showPwd ? 'mdi-eye' : 'mdi-eye-off'"
        :rules="[rules.required, rules.pwd]"
        :type="showPwd ? 'text' : 'password'"
        name="input-10-2"
        label="Password"
        class="input-group--focused"
        @click:append="showPwd = !showPwd"
      ></v-text-field>

      <v-btn class="mt-5 primary--text" color="secondary" block @click="signin">
        Login
      </v-btn>
    </v-form>
  </v-card>
</template>
<script>
export default {
  data: () => ({
    valid: true,
    email: '',
    password: '',
    rules: {
      required: (v) => !!v || 'Required',
      email: (v) => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      pwd: (v) => v.length >= 1 || 'Min 1 characters',
    },
    showPwd: false,
  }),
  methods: {
    signin() {
      this.$emit('login', { email: this.email, password: this.password })
    },
  },
}
</script>
<style scoped>
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  color: white;
  background-color: #3d5a80;
  text-align: center;
}
</style>
