<template>
  <v-toolbar height="72" color="secondary" elevation="1">
    <v-toolbar-title>{{ name }}</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-dialog v-model="dialog" width="500">
      <template v-slot:activator="{ on, attrs }">
        <v-btn v-if="!btnHide" color="primary" v-bind="attrs" v-on="on">
          {{ btnName }}
        </v-btn>
      </template>

      <v-card>
        <v-card-title class="mb-4 text-h5 primary white--text">
          Form {{ name }}
        </v-card-title>

        <v-card-text>
          <v-form v-if="addForm">
            <v-text-field
              v-for="formField in formFields"
              :key="formField.id"
              v-model="formField.model"
              :label="formField.name"
              :required="formField.required"
            />
          </v-form>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            class="text-capitalize white--text"
            color="primary"
            @click="
              saveBtn()
              dialog = false
            "
          >
            Save
          </v-btn>
          <v-btn
            class="text-capitalize"
            color="primary"
            text
            @click="dialog = false"
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-toolbar>
</template>
<script>
export default {
  props: {
    name: {
      type: String,
      default: 'Title',
    },
    btnName: {
      type: String,
      default: 'Button',
    },
    btnHide: {
      type: Boolean,
      default: false,
    },
    addForm: {
      type: Boolean,
      default: false,
    },
    formFields: {
      type: Array,
      default: null,
    },
    saveBtn: {
      type: Function,
      default: () => alert('Saved'),
    },
  },
  data() {
    return {
      dialog: false,
    }
  },
}
</script>
