<template>
  <v-toolbar height="72" color="secondary" elevation="1">
    <v-toolbar-title>{{ name }}</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-dialog v-model="dialog" width="500">
      <template v-slot:activator="{ on, attrs }">
        <v-btn v-if="!btnHide" color="primary" v-bind="attrs" v-on="on">
          {{ btnName }}
        </v-btn>
      </template>

      <v-card>
        <v-card-title class="mb-4 text-h5 primary white--text">
          Form {{ name }}
        </v-card-title>

        <v-card-text>
          <v-form v-if="addForm">
            <div v-for="formField in formFields" :key="formField.id">
              <datePicker
                v-if="formField.date"
                :name="formField.name"
                @getDate="dataDate"
              />
              <v-text-field
                v-if="!formField.dropDown && !formField.file && !formField.date"
                v-model="formField.model"
                :label="formField.name"
              />
              <v-autocomplete
                v-if="formField.dropDown && !formField.file && !formField.date"
                v-model="formField.model"
                :items="formField.ddItem"
                :label="formField.name"
              ></v-autocomplete>
              <v-file-input
                v-if="formField.file"
                v-model="formField.model"
                accept="image/*"
                :label="formField.name"
              ></v-file-input>
            </div>
          </v-form>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            class="text-capitalize white--text"
            color="primary"
            @click="
              saveBtn()
              dialog = false
            "
          >
            Save
          </v-btn>
          <v-btn
            class="text-capitalize"
            color="primary"
            text
            @click="dialog = false"
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-toolbar>
</template>
<script>
import datePicker from '~/components/bases/datePicker'
export default {
  components: {
    datePicker,
  },
  props: {
    name: {
      type: String,
      default: 'Title',
    },
    btnName: {
      type: String,
      default: 'Button',
    },
    btnHide: {
      type: Boolean,
      default: false,
    },
    addForm: {
      type: Boolean,
      default: false,
    },
    formFields: {
      type: Array,
      default: null,
    },
    saveBtn: {
      type: Function,
      default: () => alert('Saved'),
    },
  },
  data() {
    return {
      dialog: false,
    }
  },
  methods: {
    dataDate(val) {
      this.formFields.forEach((x) => {
        if (x.date === true) {
          x.model = val
        }
      })
    },
  },
}
</script>
