<template>
  <v-app>
    <headbar />
    <v-main class="content-style">
      <nuxt />
    </v-main>
    <footbar />
  </v-app>
</template>

<script>
import headbar from '~/components/toolbars/headbar'
import footbar from '~/components/toolbars/footbar'
export default {
  middleware: 'router-auth',
  components: {
    headbar,
    footbar,
  },
}
</script>
<style scoped>
.content-style {
  background-color: #eeeeee;
}
</style>
