<template>
  <v-app class="bg">
    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
    <footbar />
  </v-app>
</template>
<script>
import footbar from '~/components/toolbars/footbar'
export default {
  middleware: 'router-guest',
  components: {
    footbar,
  },
}
</script>
<style scoped>
.bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.9)),
    url('~static/img/chuttersnap-JWaXthlA9Cc-unsplash.jpg');
  background-size: cover;
  background-position: center;
}
</style>
