<template>
  <!-- <div class="cont d-flex justify-center align-center"> -->
  <v-container class="cont d-flex align-center">
    <v-row justify="center">
      <v-col class="d-flex justify-center" cols="12">
        <loginbox @login="signInUser" />
      </v-col>
    </v-row>
  </v-container>
  <!-- </div> -->
</template>
<script>
import loginbox from '~/components/toolbars/loginbox'
export default {
  layout: 'guest',
  components: {
    loginbox,
  },
  async asyncData({ $fireStore }) {
    const data = []
    const ref = $fireStore.collection('user')
    try {
      const user = await ref.get()
      user.forEach((doc) => {
        data.push({
          id: doc.id,
          email: doc.data().email,
          password: doc.data().password,
        })
      })
      return { data }
    } catch (e) {
      alert(e)
    }
  },
  computed: {
    user() {
      return this.data[0]
    },
    isLogged() {
      return this.$store.getters.isLogged
    },
  },
  methods: {
    signInUser(val) {
      if (
        val.email === this.user.email &&
        val.password === this.user.password
      ) {
        this.$store.dispatch('logging').then(() => {
          this.$router.push('/admin/dashboard')
        })
      } else {
        alert('Wrong email or password')
      }
    },
  },
}
</script>
<style scoped>
.cont {
  height: 90vh;
}
</style>
